.image-container {
  position: relative;
  width: 300px;
  height: 300px;    
}

.button {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
  border: none;
  padding: 10px 20px; 
  background: url(/p/Goomba.png)no-repeat;
  cursor:pointer;
  border: none;
}

.matthew{
    
}
.nathan {

}

.peter {

}

.luke {

}

.james{

}

.andrew {

}

.thomas{

}

.simon {

}

.judas {

}

.philip {

}

.john {

}

.mark {

}

