.resizer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  opacity: 0;
  resize: both;
}

.wrap {
  width: min-content;
  position: relative;
}

.x {
  pointer-events: none;
  position: absolute;
  bottom: -17px;
  left: calc(100% - 67px);
  line-height: 0;
  color: red;
  font-size: 50px;
}

span {
  white-space: nowrap;
        vertical-align: middle;
        color: rgb(255, 255, 255);
        display: inline-block;
        transform: translate(65px, -60px);
        font-size: 15px;
}