.resizer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  opacity: 0;
  resize: both;
}

.wrap {
  width: min-content;
  position: relative;
}

.x {
  pointer-events: none;
  position: absolute;
  bottom: -10px;
  left: calc(100% - 20px);
  line-height: 0;
  color: red;
  font-size: 50px;
}

@keyframes squigglevision {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}

.squiggled-text {
  display: inline-block; 
  animation: squigglevision 0.2s infinite alternate;
}

.x span {
  white-space: nowrap;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font: 600 15px/1 system-ui, sans-serif;
  display: inline-block;
  transform: translate(45px, -10px);
}