.image-container {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 300px;    
}

.button {
  position: absolute; 
  top: 115%;
  left: 130%; 
  transform: translate(100%, 100%); 
  z-index: 2;
  border: none;
  padding: 10px 20px; 
  background: url(/p/eden.PNG);
  cursor:help;
  border: none;
}

.matthew{
    
}
.nathan {

}

.peter {

}

.luke {

}

.james{

}

.andrew {

}

.thomas{

}

.simon {

}

.judas {

}

.philip {

}

.john {

}

.mark {

}

